@model ProductInventory.Models.ViewModel.ProductEditViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <title>New product</title>
</head>

<body>
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <h1>Create</h1>
                <hr />
                <partial name="CreateEditPartialView" model="@Model" />
            </form>
        </div>
    </div>
</body>
</html>

@section Scripts
    {@{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}}