<h3>@Title</h3>

<p>Like our page? Please support us on our website
    <a href="/weather">here</a> and we hope you enjoy our music!
</p>

<strong>The parameter number is @Param</strong>

@code {
    [Parameter] public string Title { get; set; } = "Sponsor Link";
    [Parameter] public int Param { get; set; }
}