@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>About</h2>
    <p>
        This idea of a web page is inspired by my love for food and
        <a href="https://www.ediblearrangements.com/blog/types-of-cupcakes/">this</a>
        amazing page
    </p>
</div>

