@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>
        The idea of this web page is inspired by my love for sweets and
        <a href="https://www.ediblearrangements.com/blog/types-of-cupcakes/">this</a>
        amazing page!
        It will also be used as an example in the course DTE-2802. We will add Identity (log in functionality).
    </p>
</div>

