@page "/concerts"
@using ConcertsApp.Data
@using ConcertsApp.Components.Shared
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<ConcertContext> DbFactory
@attribute [StreamRendering]

<PageTitle>Concerts</PageTitle>

<h1>Concerts</h1>

<p>This component shows dates and locations for some concerts.</p>

@if (_concertsArray == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Country</th>
            <th>City</th>
            <th>Scene</th>
            <th>Date</th>
        </tr>
        </thead>
        
        <tbody>
        @foreach (var c in _concertsArray)
        {
            <tr>
                <td>@c.Country</td>
                <td>@c.City</td>
                <td>@c.Scene</td>
                <td>@c.Date.ToShortDateString()</td>
            </tr>
        }
        </tbody>
    </table>
}

<SponsorLink Title="Like our page?" Param="2"></SponsorLink>

@code {
    private Concert[]? _concertsArray;

    protected override async Task OnInitializedAsync()
    {
        await using var context = await DbFactory.CreateDbContextAsync();
        _concertsArray = await context.Concerts.ToArrayAsync();
    }
}